n8n/workflows/00_hello_world.json
{
  "name": "00 — hello world",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111110001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/awp-agents/README.md",
        "dataPropertyName": "agentsFile",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111110002",
      "name": "Read awp-agents file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://echo-mcp:8800/echo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: 'from n8n', data: $('Webhook').item.json.body }) }}",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111110003",
      "name": "Call echo-mcp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ agents_mounted: !!$('Read awp-agents file').item.binary?.agentsFile, agents_file_name: $('Read awp-agents file').item.binary?.agentsFile?.fileName, echo_mcp: $('Call echo-mcp').item.json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "11111111-1111-1111-1111-111111110004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read awp-agents file", "type": "main", "index": 0 }]]
    },
    "Read awp-agents file": {
      "main": [[{ "node": "Call echo-mcp", "type": "main", "index": 0 }]]
    },
    "Call echo-mcp": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
